<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imagename</key>
		<string>http://image.mylife.u17t.com/2017/12/13/1513159232_MVmkkE1Nvi1j.jpg</string>
		<key>comid</key>
		<string>13707</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>http://image.mylife.u17t.com/2017/12/12/1513045712_sMstITv96TGz.jpg</string>
		<key>comid</key>
		<string>153136</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>http://image.mylife.u17t.com/2017/12/08/1512726435_pI1RZRBjabWJ.jpg</string>
		<key>comid</key>
		<string>150603</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>http://image.mylife.u17t.com/2017/12/08/1512725805_c5zcbAdBjrjV.jpg</string>
		<key>comid</key>
		<string>153687</string>
	</dict>
</array>
</plist>
